files:
  "/etc/profile.d/load_google_creds.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      aws s3 cp s3://credencial2/credenciales.json /etc/google_creds/credenciales.json

commands:
  01_set_google_application_creds:
    command: echo "export GOOGLE_APPLICATION_CREDENTIALS='/etc/google_creds/credenciales.json'" >> /etc/profile.d/google_creds.sh
